
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #333;
    background-image: url(img/fancy-cushion.webp);
    color: white;
}

.container {
    width: 900px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: black;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.header ul {
    margin-left: 32%;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: lime;
    padding: 3px;
}

.header a:hover {
    border-bottom: 5px solid lime ;
}

.hero {
    height: 300px;
    background-image: url(img/Feature---Attack-on-Titan---Best-Official-Posters.avif);
    background-size: cover;
    background-position: 0 -40px;
    border-top: 2px solid lime;
    border-bottom: 2px solid lime;
}

.content {
    padding: 30px;
    text-align: justify;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content h3 {
    font-size: 16px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    color: #7ebeff;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.content .images {
    width: 600px;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid lime;
}

.footer {
    background-color: grey;
    padding: 10px;
}

.footer .copy {
    color: white;
    text-align: center;
    font-size: 12px;
}

.footer .copy a {
    text-decoration: none;
    color: #7ebeff;
}

.footer .copy a:hover {
    text-decoration: underline;
    color: #7ebeff;
}