* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.barrier {
    width: 100%;
    background-color: black;
    height: 50px;
}

/* Navbaar */
nav {
    margin: 0px auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    padding: 20px 40px; 
    color: rgb(255, 255, 255 );
    align-items: center;
    width: 70%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 999px;
    position: relative;
}

nav .logo a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Science Gothic", sans-serif;
    letter-spacing: 3px;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

nav ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    width: auto;
}

nav ul li a {
    margin-right: 15px;
    padding: 5px 11px;
    color: rgb(255, 255, 255 );
    text-decoration: none;
    font-size: 0.8em;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255 );
    box-shadow: 0 0 9px 2px rgb(255, 255, 255 );
    border-radius: 999px 999px 999px 999px;
}



/* hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: absolute;
    right: 30px;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(255, 255, 255 );
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
    -moz-transform: rotate(45deg) translate(-1px, -1px);
    -ms-transform: rotate(45deg) translate(-1px, -1px);
    -o-transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
    -webkit-transform: rotate(-45deg) translate(-1px, 0);
    -moz-transform: rotate(-45deg) translate(-1px, 0);
    -ms-transform: rotate(-45deg) translate(-1px, 0);
    -o-transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}










/* Responsive Breakpoint */

/* ukuran tablet */
/* @media screen and (max-width: 768px) {
    nav ul {
    width: 50%;
    }
} */

/* ukuran mobile */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        justify-content: space-between;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 82px;
        right: 7%;
        width: 85%;
        height: 400%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        background-color: rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255 );
        transform: translatey(-150%);
        -webkit-transform: translatey(-150%);
        -moz-transform: translatey(-150%);
        -ms-transform: translatey(-150%);
        -o-transform: translatey(-150%);
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        opacity: 1;
}

    nav ul li a {
        margin-right: 0px;
    }

nav ul.slide {
    opacity: 1;
    transform: translatey(-10%);
    -webkit-transform: translatey(-10%);
    -moz-transform: translatey(-10%);
    -ms-transform: translatey(-10%);
    -o-transform: translatey(-10%);
}
}