/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../font/BebasNeue-Regular.woff) format('woff');
}

/* Style Utama */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; 
}

body {
    font: 18px/36px 'BebasNeue', 'Arial narrow', 'arial', 'sans-serif';
    background-color: #ddd;
    background-image: url(../img/bgimg1.jpg);
    background-size: 100%;
}

.navbar {
  text-align: center;
  line-height: 65px;
  width: 1100px;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  position: fixed;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar a {
  text-decoration: none;
  font-size: 30px;
  margin: 30px;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.navbar a:hover {
  background-color: black;
  text-decoration: none;
  font-size: 30px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.container {
    width: 1100px;
    margin: auto;
    margin-top: 90px;
    top: 70px;
    background-color: white;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-sizing: border-box;
}

.home {
  margin-top: 10px;
  background-image: url(../img/bghome.jpg);
  background-size: cover;
  height: 600px;
  border-bottom: 5px solid black;
}

.home h1 {
    font: 60px/50px 'cooper', 'san-serif';
    margin:  0;
    text-align: center;
    text-shadow: 5px 5px 0px black;
    color: white;
    position: relative;
    top: 50px;
}

.home p {
  color: white;
  text-align: center;
  font: 22px/35px 'cooper', 'san-serif';
  text-shadow: 0px 0px 8px black;
  margin: 10% 30px;
}

.gallery {
  border-bottom: 5px solid black;
}

.gallery h1 {
    font: 80px/50px 'cooper', 'san-serif';
    margin:  0;
    text-align: center;
    color: black;
    position: relative;
    top: 100px;
}

.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid black;
    float: left;
    margin-top: 200px;
    margin-left: 45px;
    margin-bottom: 150px;
    position: relative;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

.gallery li:hover {
  z-index: 9998;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.gallery li,
.gallery li a img,
.gallery li span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transform: scale(0) rotate(0);
    -moz-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    -o-transform: scale(0) rotate(0);
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}

.about {
  margin: 120px;
  padding-bottom: 50px;
}

.about h1 {
  font: 50px/18px 'cooper', sans-serif;
  text-align: center;
  margin: 80px;
}

.about p {
  font: 14px/25px 'arial', sans-serif;
  text-align: center;
  margin: 10px 0;
}

.about h2 {
  font: 14px/25px 'arial', sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

.about ul {
  font: 14px/25px 'arial', sans-serif;
  list-style: disc;
  margin-bottom: 50px;
}

.about .pLast {
  font-style: italic;
}

.footer {
  color: white;
  text-align: center;
  margin: -100px auto 20px auto;
  line-height: 65px;
  width: 1100px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.clear {
    clear: both;
}

/* Overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.overlay p {
  color: white;
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.overlay:target img {
    animation: fade1 .5s;
    -webkit-animation: fade1 .5s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    line-height: 14px;
    opacity: 0;
}

.overlay:target .close {
    animation: slidedownFade .5s .5s forwards;
    -webkit-animation: slidedownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fade1 .5s .5s forwards;
    -webkit-animation: fade1 .5s .5s forwards;
}

/* navigasi */
.next, .prev{
    width: 100px;
    height: 100px;
    background-image: url(../img/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../img/previous.png);
    margin-left: -150px;
}



/* animasi */

@keyframes zoom {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

}

@keyframes fade1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ZoomAndFade {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidedownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}