/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../font/BebasNeue-Regular.woff) format('woff');
}

/* Style Utama */
body {
    font: 18px/36px 'BebasNeue', 'Arial narrow', 'arial', 'sans-serif';
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container {
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid #666;
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
    position: relative;
}

.gallery li,
.gallery li a img,
.gallery li span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transform: scale(0) rotate(0);
    -moz-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    -o-transform: scale(0) rotate(0);
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* Overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}
.overlay:target img {
    animation: fade1 .5s;
    -webkit-animation: fade1 .5s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    line-height: 14px;
    opacity: 0;
}

.overlay:target .close {
    animation: slidedownFade .5s .5s forwards;
    -webkit-animation: slidedownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fade1 .5s .5s forwards;
    -webkit-animation: fade1 .5s .5s forwards;
}

/* navigasi */
.next, .prev{
    width: 100px;
    height: 100px;
    background-image: url(../img/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../img/previous.png);
    margin-left: -150px;
}



/* animasi */

@keyframes fade1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ZoomAndFade {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidedownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}