body {
  margin: 0;
  padding-top: 56px;
  background-color: #dc3545;
  color: white;
}

.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #ff0000;
}


.jumbotron {
  padding-top: 5rem;
  background-color: #36454F;
}

#projects {
  background-color: #36454F;
}

svg {
  margin-bottom: -5px;
}

#home, #about, #projects, #contact {
  scroll-margin-top: 100px;
}


.navbar .navbar-brand {
  color: #FF0000;
}
.navbar .nav-link {
  color: #fff;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  color: #FF0000;
  border-bottom: 2px solid #FF0000;
}


